*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: teal;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container h2{
    font-size: 3rem;
    line-height: 6rem;
    color: wheat;
}
.container p{
    width: 70%;
    color: white;
}

.tooltip{
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 350px;
    background-color: beige;
    color: #333;
    text-align: center;
    border-radius: 50% 50% 0 50%;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    right: 50%;
    
}

.tooltip .tooltiptext::after{
    content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 144px;
  border-width: 15px;
  border-style: solid;
    border-color: beige transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }